**Name:** Likhitha Parvathi Tadikonda <br>
**CRN:** 30562 <br>
**ML ICP-1**

**Question 1:**
The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] <br>
• Sort the list and find the min and max age  <br>
• Add the min age and the max age again to the list <br>
• Find the median age (one middle item or two middle items divided by two) <br>
• Find the average age (sum of all items divided by their number) <br>
• Find the range of the ages (max minus min)

In [13]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
min_age = ages[0]
max_age = ages[-1]
print("Sorted ages:", ages)              #Sort the list
print("Min Age:", min_age)               # Finding min & max age
print("Max Age:", max_age)
ages.extend([min_age, max_age])          #Adding min & max age again to list
print("Ages after adding min & max again:", ages)

ages.sort()
length = len(ages)
if length % 2 == 0:                    #Finding median of age
    median_age = (ages[length // 2 - 1] + ages[length // 2]) / 2
else:
    median_age = ages[length // 2]
average_age = sum(ages) / len(ages)
range_of_ages = max_age - min_age
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Range of ages:", range_of_ages)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min Age: 19
Max Age: 26
Ages after adding min & max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median Age: 24.0
Average Age: 22.75
Range of ages: 7

**Question 2:**Create an empty dictionary called dog <br>
• Add name, color, breed, legs, age to the dog dictionary <br>
• Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary <br>
• Get the length of the student dictionary <br>
• Get the value of skills and check the data type, it should be a list <br>
• Modify the skills values by adding one or two skills <br>
• Get the dictionary keys as a list <br>
• Get the dictionary values as a list

In [14]:
dog = {}                     #Create an empty dictionary called dog
dog['name'] = 'Buddy'       # Add name, color, breed, legs, age to the dog dictionary
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5
print("Dog dictionary:", dog)

student = {           # Create a student dictionary,add name,gender,age,marital status,skills,country,city & address as keys for dictionary
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}
print("Student dictionary:", student)
student_length = len(student)        #Get len of student dictionary
print("Len of student dictionary:", student_length)
skills = student['skills']             #Get the value of skills & heck the data type, it should be a list
print("Skills:", skills)
print("Data type of skills:", type(skills))

student['skills'].extend(['C++', 'SQL'])     #Modify the skills values by adding them
print("Updated skills:", student['skills'])

student_keys = list(student.keys())
print("Student dictionary keys:", student_keys)

student_values = list(student.values())
print("Student dictionary values:", student_values)

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}
Student dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'Java'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Len of student dictionary: 9
Skills: ['Python', 'Java']
Data type of skills: <class 'list'>
Updated skills: ['Python', 'Java', 'C++', 'SQL']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['John', 'Doe', 'Male', 22, 'Single', ['Python', 'Java', 'C++', 'SQL'], 'USA', 'New York', '123 Main St']

**Question 3:**Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine) <br>
• Join brothers and sisters tuples and assign it to siblings <br>
• How many siblings do you have? <br>
• Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [15]:
sisters = ("Lisa", "Kate")
brothers = ("John", "Micheal")
siblings = sisters + brothers  #Join brothers & sister tuples & assign it to siblings
print("Siblings:", siblings)
num_siblings = len(siblings)         # How many siblings do you have?
print("Number of siblings:", num_siblings)

father = "James"
mother = "Mary"
family_members = siblings + (father, mother)
#Modify the siblings tuple & add the name of your father,mother & assign it to family_members
print("Family members:", family_members)

Siblings: ('Lisa', 'Kate', 'John', 'Micheal')
Number of siblings: 4
Family members: ('Lisa', 'Kate', 'John', 'Micheal', 'James', 'Mary')

**Question 4:**it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} <br>
A = {19, 22, 24, 20, 25, 26} <br>
B = {19, 22, 20, 25, 26, 24, 28, 27} <br>
age = [22, 19, 24, 25, 26, 24, 25, 24] <br>
• Find the length of the set it_companies <br>
• Add 'Twitter' to it_companies <br>
• Insert multiple IT companies at once to the set it_companies <br>
• Remove one of the companies from the set it_companies <br>
• What is the difference between remove and discard <br>
• Join A and B <br>
• Find A intersection B <br>
• Is A subset of B <br>
• Are A and B disjoint sets <br>
• Join A with B and B with A <br>
• What is the symmetric difference between A and B <br>
• Delete the sets completely <br>
• Convert the ages to a set and compare the length of the list and the set.

In [16]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

it_companies_length = len(it_companies)  #Find len of the set it_companies
print("Leng of it_companies:", it_companies_length)

it_companies.add('Twitter')               #Add 'Twitter' to it_companies
print("it_companies after adding 'Twitter':", it_companies)

#Insert multiple IT companies at once to the set it_companies
it_companies.update({'Tesla', 'Netflix', 'Adobe'})
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('Oracle')
print("it_companies after removing 'Oracle':", it_companies)

# Remove a company from the set if it exists, otherwise do nothing.
it_companies.discard('Yahoo')
print(it_companies)

A_union_B = A.union(B)                      #Join A and B
print("A union B:", A_union_B)

A_intersection_B = A.intersection(B)        # Find A intersection B
print("A intersection B:", A_intersection_B)

is_A_subset_B = A.issubset(B)               # Is A subset of B
print("Is A subset of B:", is_A_subset_B)

are_A_B_disjoint = A.isdisjoint(B)            # Are A and B disjoint sets
print("Are A and B disjoint:", are_A_B_disjoint)

A_join_B = A.union(B)                   # Join A with B and B with A
B_join_A = B.union(A)
print("A joined with B:", A_join_B)
print("B joined with A:", B_join_A)

A_symmetric_difference_B = A.symmetric_difference(B) #symmetric diff between A & B
print("Symmetric difference between A and B:", A_symmetric_difference_B)

del A            # Delete the sets completely
del B
print("A and B sets deleted.")

age_set = set(age)   # Convert ages to a set & compare the length of list & set.
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Leng of it_companies: 7
it_companies after adding 'Twitter': {'IBM', 'Apple', 'Amazon', 'Twitter', 'Oracle', 'Microsoft', 'Facebook', 'Google'}
it_companies after adding multiple companies: {'IBM', 'Tesla', 'Amazon', 'Oracle', 'Facebook', 'Google', 'Adobe', 'Twitter', 'Microsoft', 'Apple', 'Netflix'}
it_companies after removing 'Oracle': {'IBM', 'Tesla', 'Amazon', 'Facebook', 'Google', 'Adobe', 'Twitter', 'Microsoft', 'Apple', 'Netflix'}
{'IBM', 'Tesla', 'Amazon', 'Facebook', 'Google', 'Adobe', 'Twitter', 'Microsoft', 'Apple', 'Netflix'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint: False
A joined with B: {19, 20, 22, 24, 25, 26, 27, 28}
B joined with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
A and B sets deleted.
Length of age list: 8
Length of age set: 5

**Question 5:**The radius of a circle is 30 meters.<br>
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_  <br>
• Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_ <br>
• Take radius as user input and calculate the area

In [5]:
import math
radius = 30
_area_of_circle_ = math.pi * radius ** 2      #Calc area of circle with r=30 meters
print("Area of the circle:", _area_of_circle_)

_circum_of_circle_ = 2 * math.pi * radius    #Calc circumference of circle with r=30 meters
print("Circumference of the circle:", _circum_of_circle_)

user_radius = float(input("Enter the radius of the circle: ")) #Take radius as user input & calc the area
user_area_of_circle = math.pi * user_radius ** 2
print("Area of the circle with radius", user_radius, ":", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle: 2
Area of the circle with radius 2.0 : 12.566370614359172

**Question 6:**“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set
to get the unique words.

In [17]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()                  #Split sentence into words
unique_words = set(words)                  #Create a set to store unique words
num_unique_words = len(unique_words)          #Print no. of unique words
print("Number of unique words:", num_unique_words)

Number of unique words: 10

**Question 7:**Use a tab escape sequence to get the following lines.
Name Age Country City
Asabeneh 250 Finland Helsinki

In [7]:
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

**Question 8:**Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [8]:
radius = 10
area = 3.14 * radius ** 2
print("Area of circle with radius {} is {} meters square.".format(radius, area))

Area of circle with radius 10 is 314.0 meters square.

**Question 9:**Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
kilograms in a separate list using Loop.<br> N: No of students (Read input from user) <br>
Example: <br>L1: [150, 155, 145, 148] <br>
Output: [68.03, 70.3, 65.77, 67.13]

In [19]:
N = int(input("Enter the number of students: "))  # Get no. of students from user
weights_lbs = []                #Create list to store weights in pounds
for i in range(N):               #Get weights of the students in pounds
    weight_lbs = float(input(f"Enter the weight of student {i+1} in pounds: "))
    weights_lbs.append(weight_lbs)

weights_kg = []             #Create a list to store weights in kilograms
for weight_lbs in weights_lbs:     #Convert weights from pounds to kilograms
    weight_kg = weight_lbs * 0.45359237
    weights_kg.append(round(weight_kg, 2))

#Printlist of weights in kilograms
print("Weights in kilograms:", weights_kg)

Enter the number of students: 4
Enter the weight of student 1 in pounds: 150
Enter the weight of student 2 in pounds: 155
Enter the weight of student 3 in pounds: 145
Enter the weight of student 4 in pounds: 148
Weights in kilograms: [68.04, 70.31, 65.77, 67.13]